#container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  .search-component {
    margin-bottom: 2em;
    margin-top: 2em;
    input {
      background-color: white;
      padding: 0.8rem 1rem;
      border-radius: 10px;
      border: 2px solid rgb(235, 235, 235);
      color: black;
      width: 25em;
    }
  }
}
